section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn-primary{
    margin-top: 20px;
    background-color: #4eddc5;
    border: #4eddc5;
    
}
.btn-primary:hover{
    background-color: #4eddc5ad;
    color: black;
}
p{
    margin-bottom: 0;
    margin-top: 20px;
}
.navbar>.container-fluid{
    justify-content: space-around;
}
.form-select{
    margin-top: 20px;
}
#resultado{
    background-color: #4eddc5;
}